@model trainCrew.Models.DriverGroup

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="text-info">
    <h4>地铁机班信息</h4>
    <hr />
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.DriverTeamID, "机队信息", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DriverTeamID", String.Empty)
                @Html.ValidationMessageFor(model => model.DriverTeamID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverTeam.GroupNumber, "机班数目", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverTeam.GroupNumber)
                @Html.ValidationMessageFor(model => model.DriverTeam.GroupNumber)
            </div>
        </div>  

        <div class="form-group">
            @Html.LabelFor(model => model.DriverGroupName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverGroupName)
                @Html.ValidationMessageFor(model => model.DriverGroupName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupPeople, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupPeople)
                @Html.ValidationMessageFor(model => model.GroupPeople)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新建" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
