@model trainCrew.Models.DriverGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class="text-warning">
    <h3>正在进行修改操作</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>地铁机班信息</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DriverGroupID)

        <div class="form-group">
            @Html.LabelFor(model => model.DriverTeamID, "机队名称", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DriverTeamID", String.Empty)
                @Html.ValidationMessageFor(model => model.DriverTeamID)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DriverGroupName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverGroupName)
                @Html.ValidationMessageFor(model => model.DriverGroupName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupPeople, "机班的司机人数", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupPeople)
                @Html.ValidationMessageFor(model => model.GroupPeople)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
