@model PagedList.IPagedList<trainCrew.Models.DriverTeam>
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

</p>
@using (Html.BeginForm("Index", "DriverTeam", FormMethod.Get))
{
    <p>
        
        搜索队名: @Html.TextBox("searchString")
        <input type="submit" value="搜索" />
    </p>
}

<table class="table">
    <tr>
        <th>
            机队名称
        </th>
        <th>
           机班数量
        </th>
        <th>
            备注
        </th>
        <th>
             操作
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriverTeamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DriverTeamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriverTeamID })
        </td>
    </tr>
}

</table>
<br />
页数 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 到 @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",new{ page = page}))

<br/>

<div>
    <p style="font-size:large">
        @Html.ActionLink("创建新机队", "Create")
    </p>
</div>
