@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    
  @Styles.Render("~/Content/stylesheets/style.css")
 @Scripts.Render("~/Content/js/jquery.min.js")
   

    <script type="text/javascript">
        $('dd').hide();
        $('dt').click(function () {
            $(this).parent().find('dd').slideToggle(100)
        })

    </script>
</head>
<body  style="font-family:Arial">
    <div id="menu" style="width: 100%;height: 100%;">
        <div id="testhead" style="width: 100%;background:#0def2b;height: 100px;">

            <h2 >欢迎来到地铁排班系统</h2>
            <h3 style="font-size:large"> <span style="float: right;">你好!  @ViewBag.UserName | <a href="#" style="color: black;text-decoration: none;">退出</a>
                </span></h3>
            <div style="font-size:large">
             <p style="display:inline">成都天气：@ViewBag.CityWeather[6]</p>  &nbsp; &nbsp; &nbsp;
              <p style="display:inline">温度：@ViewBag.CityWeather[5]</p>
            </div>

        </div>
        <div id="testleft" style="height: 90%;background: #007AFF;width: 15%;margin: 1px 0px;float: left;">
            <dl class="menu" style="margin: 0px;">
                <dt>排班管理 </dt>
                <dd>@Html.ActionLink("机队信息", "Index", "DriverTeam", new { @class = "menu1" }, new { target = "iframe" })</dd>
                <dd>@Html.ActionLink("机班信息", "Index", "DriveGroup", new { @class = "menu1" }, new { target = "iframe" })</dd>
                <dd>@Html.ActionLink("司机信息", "Index", "Driver", new { @class = "menu1" }, new { target = "iframe" })</dd>
                <dd>@Html.ActionLink("交路表信息", "Index", "RouteTable", new { @class = "menu1" }, new { target = "iframe" })</dd>
                <dd><a href="http://www.baidu.com" target="iframe" class="menu1">交路表管理</a></dd>
                <dd>@Html.ActionLink("排班表", "Index", "CrewTable", new { @class = "menu1" }, new { target = "iframe" })</dd>
                <dd><a href="" target="iframe" class="menu1">开放系统</a>
            </dl>
        </div>
        <div id="testright" style="float: right;width: 84%;margin:1px 0px 1px 0px">
            <iframe id="if1" name="iframe" src="" style="width: 100%; height:600px;"></iframe>

        </div>
    </div>
</body>

</html>
